<!-- Exercie 1:
lorsque qu'un client clique sur le lien il faut arreter le preventDefault  sur les baise <a></a> -->
<a preventDefault href="www.google.com" target="_blank">lien google</a>

<p highlight bg="red">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste facilis culpa tenetur sapiente molestias ea eum soluta? Nihil atque optio, facere tenetur minus neque odit, sapiente ipsum, iste dignissimos alias.>Nobis rerum, beatae deserunt cum quam assumenda, delectus recusandae et, eos maiores iusto quasi. Aut sequi minima debitis dolore iste quaerat corrupti qui ipsa officiis, quod, molestias error vitae sunt.</p>

<!-- Exercie 2:
lorsque qu'un client clique sur le lien il faut ouvrir une alert avec un message de base mais
ce message peut aussi etres rempli depuis le .html dans un propriété -->
<a comfirm confirm-message="Es-tu sure de voiloir aller sur le site de Pierre ?" href="http://www.pg-dev.fr" target="_blank">site web pierre</a>


<p highlight>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste facilis culpa tenetur sapiente molestias ea eum soluta? Nihil atque optio, facere tenetur minus neque odit, sapiente ipsum, iste dignissimos alias.>Nobis rerum, beatae deserunt cum quam assumenda, delectus recusandae et, eos maiores iusto quasi. Aut sequi minima debitis dolore iste quaerat corrupti qui ipsa officiis, quod, molestias error vitae sunt.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste facilis culpa tenetur sapiente molestias ea eum soluta? Nihil atque optio, facere tenetur minus neque odit, sapiente ipsum, iste dignissimos alias.>Nobis rerum, beatae deserunt cum quam assumenda, delectus recusandae et, eos maiores iusto quasi. Aut sequi minima debitis dolore iste quaerat corrupti qui ipsa officiis, quod, molestias error vitae sunt.</p>


<appUser infoUser firstName="pierre" lastName="Girou" job="developper" [hired]="true"></appUser>
<appUser infoUser firstName="Meriem" lastName="Talbi" job="N3 Sopra" [hired]="true"></appUser>
<appUser infoUser firstName="Anna" lastName="Girou Talbi" job="N/A" [hired]="false"></appUser>