
<div id="group-button" class="container-fluid">
  <button type="button"  class="btn btn-outline-dark"  clickDetection data-info="Button-1">My button1</button>
  <button type="button"  class="btn btn-outline-warning"  clickDetection data-info="Button-2">My button2</button>
  <button type="button"  class="btn btn-outline-dark"  clickDetection data-info="Button-3">My button3</button>
  <button type="button"  class="btn btn-outline-danger"  clickDetection data-info="Button-4">My button4</button>
  <button type="button"  class="btn btn-outline-dark"  clickDetection data-info="Button-5">My button5</button>
</div>

<div class="container-fluid">
  <app-dumb [myInput]="inputChildComponent" [clientInput]="clientXY"></app-dumb>
</div>

